@import "styles/theme.css";

html,
body,
.container {
  height: 99%;
}

#toggle-dark-mode {
  position: absolute;
  right: 1%;
  top: 30%;
}

html:not(.night) #toggle-dark-mode .fa-sun {
  display: none;
}

html.night #toggle-dark-mode .fa-moon {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  margin-top: 2em;
}

#cursor {
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
