@import "theme.css";

html {
  background-color: var(--black-025);
  font-size: 16px;
  font-family: 'Inconsolata', monospace;
  text-align: center;
  color: var(--black-700);
  line-height: 1.4;
}

html,
body,
.container {
  height: 99%;
}

a {
  color: var(--black-700);
}

h1 {
  font-family: "Courier New", Courier, monospace;
}

#toggle-dark-mode {
  position: absolute;
  right: 2%;
  top: 2%;
}

html:not(.night) #toggle-dark-mode .fa-sun {
  display: none;
}

html.night #toggle-dark-mode .fa-moon {
  display: none;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.contacts {
  margin-top: 2em;
}

.separator {
  margin: 1.5em 0;
}

.code {
  margin: 0;
  line-height: 0.7;
  letter-spacing: 0px;
  font: 14px monospace;
}

.link {
  cursor: pointer;
}

.profile-photo img {
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background-clip: padding-box;
  border: 5px solid var(--black-700);
  -moz-box-shadow: 0px 0px 2px rgba(0, 2, 2, 0.2);
  -webkit-box-shadow: 0px 0px 2px rgba(0, 2, 2, 0.2);
  box-shadow: 0px 0px 2px rgba(0, 2, 2, 0.2);
  width: 100px;
  height: 100px;
  display: block;
  margin: 0 auto;
}

#cursor {
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
