@import "styles/theme.css";

#toggle-theme {
  position: absolute;
  right: 3%;
  top: 32%;
}

body.day #toggle-theme .fas.fa-lightbulb {
  display: none;
}

body.night #toggle-theme .far.fa-lightbulb {
  display: none;
}

section:first-of-type {
  align-items: center;
}

.contacts {
  margin-top: 2em;
}

#cursor {
  opacity: 1;
  -webkit-animation: blink 1s infinite;
  -moz-animation: blink 1s infinite;
  animation: blink 1s infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
